name = "MonteCarlo"
uuid = "7ed9e010-db43-58a0-91f1-3971ebfac852"
authors = ["Carsten Bauer <crstnbr@gmail.com>"]
license = "MIT"

[deps]
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
LightXML = "9c8b4983-aa76-5018-a973-4c85ecc9e179"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MonteCarloObservable = "8a675f2c-1eea-59ef-99a5-5eebc71d1519"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StableDQMC = "0827807b-44c9-51d0-af97-efe667fe6b2a"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]